body {
    font-family: 'Cambria', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 20rem;
}

.title-container {
    padding-top: 20px;
}

.header {
    padding: 0;
    margin: 0 0 0 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tabs-list-container {
    list-style: none;
    padding: 10px;
    width: 85%;
}

.tabs-list-title {
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    color: white;
}

.tabs-title-columns  {
    padding: 10px;
    background: navy;
    border: 1px solid gray;
}

.tabs-list-grid-format {
    display: grid;
    grid-template-columns: 64% 35%;
    grid-column-gap: 1%;
    grid-row-gap: 0;
}

.container {
    border: 1px solid navy;
    display: flex;
    align-items: center;
    font-style: italic;
}

li {
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1%;
    width: 100%;
}


h3 {
    font-size: 1.3em;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#no-tabs-message {
    display: none;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 1.3em;
    color: #777;
}